<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novikova.mlkit">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo_mlkit"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLKit">

<!--        If you choose to use the Google Play Service way:
            you can configure your app to automatically download the model
            to the device after your app is installed from the Play Store.-->

<!--        <meta-data-->
<!--            android:name="com.google.mlkit.vision.DEPENDENCIES"-->
<!--            android:value="face" />-->
        <!-- To use multiple models: android:value="face,model2,model3" -->

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".faceDetection.FaceDetectionActivity"/>
        <activity android:name=".objectDetectionAndTracking.ObjectDetectionActivity"/>
        <activity android:name=".posedetector.PoseDetectionActivity"/>
        <activity android:name=".selfiesegmentation.SegmentationActivity"/>
        <activity android:name=".textdetector.TextDetectionActivity"/>
    </application>

</manifest>